<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
