@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
<!-- Login plugin-->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<div class="login-wrap container">
    <div class="login-wrap-2">
        <div class="panel panel-login">
            <div class="panel-body">
                <div class="row">
                    <form id="login-form" action="#" method="post" role="form" style="display: block;">
                        <h2>LOGIN</h2>
                        <div class="form-group">
                            <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <a href="http://hogs.cis420.net//Account/ForgotPassword" class="forgot-password">Forgot Password</a>
                        </div>
                        <div class="form-group pull-left checkbox">
                            <input id="checkbox1" type="checkbox" name="remember">
                            <label for="checkbox1">Remember Me</label>
                        </div>
                        <div class="form-group row pull-right">
                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                        </div>
                    </form>
                    <form id="register-form" action="#" method="post" role="form" style="display: none;">
                        <h2>REGISTER</h2>
                        <div class="form-group">
                            <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                            <div class="frow">
                                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel-heading">
                <div class="row text">
                    <div class="col-xs-6 tabs">
                        <a href="#" class="active" id="login-form-link"><div class="login">LOGIN</div></a>
                    </div>
                    <div class="col-xs-6 tabs">
                        <a href="#" id="register-form-link"><div class="register">REGISTER</div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel -->
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay">
    </div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
        <li data-target="#bs-carousel" data-slide-to="3"></li>
        <li data-target="#bs-carousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
        </div>
        <div class="item slides">
            <div class="slide-4"></div>
            <div class="hero">
            </div>
        </div>
        <div class="item slides">
            <div class="slide-5"></div>
            <div class="hero">
            </div>
        </div>
    </div>
</div>

<!--footer-->
<footer class="footer1">
    <div class="container">
        <div class="row">
            <!-- row -->

            <div class="col-lg-3 col-md-3">
                <!-- widgets column left -->
                <ul class="list-unstyled clear-margins">
                    <!-- widgets -->

                    <li class="widget-container widget_nav_menu">
                        <!-- widgets list -->

                        <h1 class="title-widget">Useful links</h1>

                        <ul>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Success Stories</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> PG Courses</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Achiever's Batch</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Regular Batch</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Test & Discussion</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Fast Track T & D</a></li>
                        </ul>

                    </li>

                </ul>


            </div><!-- widgets column left end -->



            <div class="col-lg-3 col-md-3">
                <!-- widgets column left -->

                <ul class="list-unstyled clear-margins">
                    <!-- widgets -->

                    <li class="widget-container widget_nav_menu">
                        <!-- widgets list -->

                        <h1 class="title-widget">Useful links</h1>

                        <ul>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Test Series Schedule</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Postal Coaching</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  PG Dr. Bhatia Books</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  UG Courses</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Satellite Education</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Study Centres</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  State P.G. Mocks</a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-angle-double-right"></i> Results</a></li>

                        </ul>

                    </li>

                </ul>


            </div><!-- widgets column left end -->



            <div class="col-lg-3 col-md-3">
                <!-- widgets column left -->

                <ul class="list-unstyled clear-margins">
                    <!-- widgets -->

                    <li class="widget-container widget_nav_menu">
                        <!-- widgets list -->

                        <h1 class="title-widget">Useful links</h1>

                        <ul>

                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Enquiry Form</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Online Test Series</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Grand Tests Series</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Subject Wise Test Series</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Smart Book</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Test Centres</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Admission Form</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>  Computer Live Test</a></li>
                        </ul>

                    </li>

                </ul>


            </div><!-- widgets column left end -->


            <div class="col-lg-3 col-md-3">
                <!-- widgets column center -->



                <ul class="list-unstyled clear-margins">
                    <!-- widgets -->

                    <li class="widget-container widget_recent_news">
                        <!-- widgets list -->

                        <h1 class="title-widget">Contact Detail </h1>

                        <div class="footerp">

                            <h2 class="title-median">Webenlance Pvt. Ltd.</h2>
                            <p><b>Email id:</b> <a href="mailto:info@webenlance.com">info@webenlance.com</a></p>
                            <p>
                                <b>Helpline Numbers </b>
                                <b style="color:#ffc106;">(8AM to 10PM):</b>  +91-8130890090, +91-8130190010
                            </p>

                            <p><b>Corp Office / Postal Address</b></p>
                            <p><b>Phone Numbers : </b>7042827160, </p>
                            <p> 011-27568832, 9868387223</p>
                        </div>

                        <div class="social-icons">

                            <ul class="nomargin">

                                <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                                <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                                <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                                <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>

                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--header-->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="copyright">
                    © 2017 Nothing But Net

                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="design">
                </div>
            </div>
        </div>
    </div>
</div>
