@model CIS420CON.Models.Admin
@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>
<head>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <hr>
        <div id="calendar"></div>
    </div>
</body>
