@model IEnumerable<CIS420CON.Models.Advisor>

@{
    ViewBag.Title = "Home";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdvisorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdvisorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdvisorId })
        </td>
    </tr>
}

</table>
