@{
    ViewBag.Title = "Login";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">
                    <label>
                        Enter the email you signed up with
                    </label>
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div>
            <div class="wrap">
                <p class="form-title">
                    Sign In
                </p>
                <form class="login">
                    <input type="text" placeholder="Username" />
                    <input type="password" placeholder="Password" />
                    <input type="submit" value="Sign In" class="btn btn-danger btn-sm" />
                    <div class="remember-forgot">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" />
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 forgot-pass-content">
                                <a href="http://hogs.cis420.net//Account/ForgotPassword" class="forgot-pass">Forgot Password</a>
                                <!--Facebook Logo to CON Facebook account-->
                                <a target="_blank" title="find us on Facebook" href="https://www.facebook.com/UniversityOfLouisvilleSchoolOfNursing/">
                                    <img alt="follow me on facebook" src="//login.create.net/images/icons/user/facebook_40x40.png" style="background-color: red"
                                         class="logo-facebook" border="0">
                                </a>
                                <!--Twitter Logo to CON Twitter handle-->
                                <a target="_blank" title="follow me on twitter" href="https://twitter.com/uofl_son">
                                    <img alt="follow me on twitter" src="//login.create.net/images/icons/user/twitter_40x40.png" style="background-color: red"
                                         class="logo-twitter" border="0">
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Carousel -->
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay">
    </div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
        <li data-target="#bs-carousel" data-slide-to="3"></li>
        <li data-target="#bs-carousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
        </div>
        <div class="item slides">
            <div class="slide-4"></div>
            <div class="hero">
            </div>
        </div>
        <div class="item slides">
            <div class="slide-5"></div>
            <div class="hero">
            </div>
        </div>
    </div>
</div>
